li {
    display: flex;
    list-style-position: inside;
}

input {
    font-size: 1.5em;
}


.add-new {
    display: flex;
    flex-direction: column;
}

.add {
    width: 100%;
    background-color: #ff1493;
    color: #ffffff;
    font-size: 1em;
    font-weight: 350;
}

input {
    font-size: 1em;
}